; ====================================================================
; NAP TELECOM - AMI CONFIGURATION TEMPLATE
; ====================================================================

[general]
enabled = yes
port = 5038
bindaddr = 127.0.0.1
displayconnects = no

[nap_admin]
secret = ${ASTERISK_AMI_PASSWORD}
read = system,call,log,verbose,command,agent,user,config,dtmf,reporting,cdr,dialplan
write = system,call,log,verbose,command,agent,user,config,dtmf,reporting,cdr,dialplan
